#userInterfaceNavbarContainer{
    background-color: #0d0d0d;
    color: #f2f2f2;  
  }

  #userInterfaceSideNavbar{
    background-color: #404040;
  }

  .userInterfaceNavbarItem:hover{
    background-color: #262626;
  }

  #userInterfaceNavbarNotification {
    background-color: #b30000;
    color: #f2f2f2;
  }
  
  .userInterfaceSideNavbarTitle{
    background-color: #262626;
    color: #f2f2f2;
    border-color: #0d0d0d;
  }

  .userInterfaceSideNavbarItem{
    background-color: #333333;
    color: #f2f2f2;
    border-color: #262626;
    opacity: 0.8;
  }

  .userInterfaceSideNavbarItem:hover{
    background-color: #666666;
    color: #f2f2f2;
    border-color: #0d0d0d;
    opacity: 1;
  }